body {
  background-color: rgb(38, 70, 83);
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 70%;
  height: auto;
  margin: auto;
  background-color: rgb(15, 29, 34);
  position: absolute;
  top: 20%;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: 1px solid rgb(15, 29, 34);
  border: 1px solid rgba(15, 29, 34, 0.5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
  left: 0;
  right: 0;
}
.first-row {
  margin: 0 auto;
  background-color: rgba(38, 70, 83, 1);
  height: 3rem;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.second-row {
  margin: 0 auto;
  border-bottom: 2px solid rgb(38, 70, 83);
  height: 3em;
  line-height: 270%;
}

.item-content {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  color: rgb(86, 207, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
}

.last-row {
  width: 100%;
  box-sizing: border-box;
  border-top: 2px solid rgb(38, 70, 83);
  height: 2em;

  bottom: 0;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  color: rgb(255, 102, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

input[type="text"] {
  background-color: rgba(38, 70, 83, 0.8);

  color: rgb(86, 207, 225);
  border-radius: 3px;
  border: 1px solid rgb(86, 207, 225);
  height: 2.3em;
  width: 90%;
  font-size: 1em;
  margin: 0;
}

input[type="number"] {
  background-color: rgba(38, 70, 83, 0.8);
  color: rgb(86, 207, 225);
  border-radius: 3px;
  border: 1px solid rgb(86, 207, 225);
  height: 2em;
  width: 40%;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(86, 207, 225, 0.1);
  font-family: "Ubuntu", sans-serif;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(86, 207, 225, 0.1);
}

input[type="text"]:focus {
  outline: 1px solid rgb(255, 198, 255);
}

input[type="number"]:focus {
  outline: 1px solid rgb(255, 198, 255);
}
input[type="color"] {
  height: 2em;
}
button {
  border: none;
  background-color: rgb(15, 29, 34);
  cursor: pointer;
}

.fa-plus,
.fa-trash {
  font-size: 1.5em;
}

.modal {
  color: red;
  text-align: center;
  border: red solid 1px;
}

button:focus {
  outline: none;
}

.item-content > input[type="color"],
.item-content > input[type="text"],
.item-content > input[type="number"] {
  position: relative;
}

.third-row {
  height: 4em;
}

.activity {
  width: 80%;
  height: 80%;
  margin: 0.7em auto;
  position: relative;
  border: 1px solid rgb(86, 207, 225);
  border-radius: 40px;

  bottom: 10px;
}

.activity:first-child {
  margin-top: 1.5em;
}

.active {
  animation: pulse 1s infinite;
  border: 1px solid rgb(255, 102, 179);
}

.activity-name,
.activity-duration {
  width: 15%;
  height: 100%;
  background-color: rgba(15, 29, 34, 0);
  float: left;
  font-weight: bolder;
  font-size: 1.3em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: rgb(86, 207, 225);
  display: flex;
  justify-content: center;
  align-items: center;
}

.duplicate,
.remove {
  width: 15%;
  height: 100%;
  background-color: rgba(15, 29, 34, 0);
  float: left;
  font-size: 1.1em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: rgb(86, 207, 225);
  position: relative;
  top: 10px;
}

.activity-name {
  width: 55%;
}

.play,
.pause,
.undo {
  color: rgb(86, 207, 225);
  text-shadow: 1px 1.5px 1px rgba(65, 130, 157, 1);
}

.play:active,
.pause:active,
.undo:active {
  color: rgb(86, 186, 225);
  text-shadow: 0px 0px 0px rgba(65, 130, 157, 1);
  transform: translateY(1px);
}
.play:hover,
.pause:hover,
.undo:hover,
.duplicate:hover,
.remove:hover {
  color: rgb(35, 174, 195);
}

.addition {
  text-shadow: 1px 1px 0px rgba(123, 164, 98, 1);
  font-size: 2.5em;
  color: yellowgreen;
}

.addition:active {
  color: rgb(123, 164, 40);
  text-shadow: 0px 0px 0px rgb(18, 19, 19);
  transform: translateY(1px);
}

.addition:hover {
  color: rgb(194, 228, 130);
}

h1.title {
  text-align: center;
  margin-top: 2em;
  color: yellowgreen;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 102, 179, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 102, 179, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 102, 179, 0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(86, 207, 225, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(86, 207, 225, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(86, 207, 225, 0);
  }
}

@media only screen and (max-width: 777px) {
  .container {
    width: 80%;
    font-size: 0.6em;
  }

  input[type="color"] {
    height: 1.5em;
  }
  .activity {
    width: 80%;
    height: 100%;
    margin: 1.5% auto;
    position: relative;
    border: 1px solid rgb(86, 207, 225);
    border-radius: 40px;
    bottom: 4px;
  }

  #timer {
    width: auto;
    display: table-cell;
  }

  .player {
    width: auto;
    display: table-cell;
    position: relative;
    bottom: 5px;
  }

  .last-row {
    display: table;
    height: 4em;
  }

  h5 {
    bottom: 4px;
  }
}
